[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/

# Các file hệ điều hành
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

# Các file version control
*.pidb.meta
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db

# Các thư mục cục bộ IDE
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

Library
/UserSettings/
TEST.md

.vs

Logs